* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

footer {
  position: fixed;
  bottom: 0;
}

.add-expense {
  background-color: var(--btn-background-default);
  width: 56px;
  height: 56px;
  border-radius: 50%;
  cursor: pointer;
  position: relative;
}

.add-expense img {
  position: absolute;
  padding: 14px;
}
