* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

:root {
  --background-default: #fd3c4a;
  --background-income: rgba(0, 168, 107, 1);
}

.btn-primary {
  width: 150px;
  height: 45px;
  background-color: var(--background-default);
  border: none;
}

.btn-primary:hover {
  background-color: #fcfcfc;
  border: 1px solid var(--background-default);
  color: var(--background-default);
}

.btn-primary:active {
  background-color: var(--background-default) !important;
  border: 1px solid var(--background-default);
}
