nav .title {
  font-size: 20px;
  font-weight: 600;
  color: #fff;
}

nav .fa-solid {
  font-size: 30px;
  cursor: pointer;
}

nav .fa-arrow-left {
  color: #fff;
}

.nav-budget {
  background-color: var(--background-budget);
}

.nav-expense {
  background-color: var(--background-expense);
}

.nav-income {
  background-color: var(--background-income);
}
